# Ignore the swap files.
*.swp

# Ignore the object files.
*.o

# Ignore the library files.
*.a
*.so

# Ignore the pgplot build folder.
src/**/build/

# Ignore DB Pass.
.dbpass

# Ignore vscode
.vscode
